/******************************MEDIA QUERIES***********************/
@media (min-width:2280px) {
    .container {
        width: 2100px;
    }
}

@media (min-width:1900px) {
    .container {
        width: 1700px;
    }
}

@media (min-width:1600px) {
    .container {
        width: 1400px;
    }
}
@media screen and (max-width: 1200px) {
    
    .sticky .menu li a {
        padding: 14px 7px;
        font-size: 11px;
    }
    ul.menu li a {
        padding: 14px 13px;
    }
}

@media screen and (max-width: 1100px) {
    .contact-btn {
        margin: 13px 0 0 0;
    }
    
}

@media screen and (max-width: 992px) {

    .container {
        width: 950px !important;
    }
    ul.menu li a {
        padding: 14px 5px;
        font-size: 12px;
    }
    .logo-area {
        top: -56px;
    }
    .logo-area img {
        width: 166px;
        padding: 8px 29px 34px;
    }
    .contact-btn {
        margin: 10px 0 0 0;
    }
    .con-info li {
        margin-right: 2px;
    }
    .con-info li a{
        font-size: 8px;
    }
    .banner-txt h1 {
        padding: 0 20%;
    }
}

@media screen and (max-width: 950px) {
   
}

@media screen and (max-width: 800px) {

    .container {
        width: auto !important;
    }
    
}

@media screen and (max-width: 768px) {
    
    .logo-area {
        position: inherit;
        background: #fff;
    }
    .social-media{
        display: none;
    }
    .sticky{
        display: none;
    }
    .contact-btn {
        margin: 30px 0 0px 0;
        text-align: center;
    }
    .contact-btn a {
        padding: 12px 10px;
    }
}

@media screen and (max-width:767px) {
    .social-media {
        display: block;
        margin: -6px 0 0 0;
    }
    .menu {
        /* display: none; */
        position: fixed;
        top: 0;
        right: -100%;
        display: block;
        background: var(--primary-color);
        z-index: 9999999;
        height: 100%;
        width: 200px;
        transition: all ease-in-out 0.2s;
        -webkit-transition: all ease-in-out 0.2s;
        -moz-transition: all ease-in-out 0.2s;
        -ms-transition: all ease-in-out 0.2s;
        -o-transition: all ease-in-out 0.2s;
        overflow-y: auto;
        padding-top: 0;
        padding-left: 0;
    }
    .menu-toggle {
        color: #fff;
        font-size: 17px;
        cursor: pointer;
        text-align: right;
        display: inline-block;
        /* float: right; */
        font-weight: 800;
        margin: -15px 0 0;
    }
    
    .sticky .menu-toggle {
        margin: 0px 0 0 0;
    }
    .menu-toggle .fa {
        /* position: absolute; */
        /* top: 25px; */
        /* right: 20px; */
        color: #fff;
        z-index: 999;
        float: right;
        padding-right: 70px;
        z-index: 999;
    }	
    
    .menu li {
        display: inline-block;
        width: 100%;
        transition: all ease-in-out 0.2s;
        -webkit-transition: all ease-in-out 0.2s;
        -moz-transition: all ease-in-out 0.2s;
        -ms-transition: all ease-in-out 0.2s;
        -o-transition: all ease-in-out 0.2s;
    }
    .menu li a, .sticky .menu li a {
        padding: 11px 20px;
        font-size: 15px;
    }
    .menu > li > ul {
        display: none;
        position: inherit;
        background: #e1899b;
        text-align: center;
        border-radius: 0;
        box-shadow: none;
        width: 100%;
    }
    .menu > li > ul > li > a{
        color: #fff;
    }
    .logo-area {
        position: inherit;
        width: 50%;
        margin: 0 auto;
    }
    .banner-txt {
        top: 12%;
    }
    .banner-txt h1 {
        padding: 0 0%;
    }
    .menu-toggle i {
        margin: 31px 0 0 0;
        position: absolute;
        top: 20px;
        color: var(--white-color) !important;
        font-size: 25px;
    }
    .social-media {
        display: block;
        margin: 26px 0 0 0;
    }
    .menu-toggle {
        margin: 1px 0 0;
    }
    .logo-area img {
        width: 156px;
        padding: 8px 30px 29px;
        margin: 0 auto;
        display: block;
    }
    .top-header {
        display: none;
    }
    .banner-slider .owl-item img {
        display: block;
        width: 100%;
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 50% 79%, 0 100%);
        height: 360px;
        object-fit: cover;
        object-position: top;
    }
    .testi-slider .owl-prev, .testi-slider .owl-next{
        display: none !important;
    }
    .service-box img {
        width: 100%;
        height: 210px;
    }
    .abt-content p {
        width: 100%;
    }
    .pricing-box, .pricing-box1 {
        padding: 20px 13px;
    }
    .port-each img {
        width: 100%;
        height: 180px;
    }
    .project-tabs .nav-item.show .nav-link, .project-tabs .nav-link.active {
        padding: 10px 16px;
    }
    .project-tabs .nav-link {
        padding: 10px 16px;
    }
    .partners-ad .site-btn {
        margin: 30px 0 30px;
    }
    .contact-form-in form input[type="text"], .contact-form-in form input[type="email"], .contact-form-in form input[type="tel"] {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 675px ) {

    .sticky .menu-toggle i {
        margin: 31px 0 0 0;
    }
    
    .menu-toggle {
        color: #000;
        font-size: 14px;
        cursor: pointer;
        text-align: right;
        display: inline-block;
        /* float: right; */
        font-weight: 800;
        margin: 15px 0 0;
    }
    
    .menu-toggle i {
        color: #000;
        margin: 31px 0 0 0;
    }
    .menu-toggle i {
        color: #000;
        margin: 12px 0 0 0;
    }
    .about-img img {
        margin-bottom: 20px;
    }
    .abt-content p {
        text-align: center;
        font-size: 13px;
    }
    
    
}

@media screen and (max-width: 600px) {
    .menu-toggle i {
        margin: 15px 0 0 8px;
    }
    
    
}

@media screen and (max-width: 575px) {
    .contact-btn {
        margin: 0px 0 30px 0;
    }
}

@media screen and (max-width: 375px) {}

@media screen and (max-width: 320px) {}
